@model Ders20.Models.Entities.Posts

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <span>@ViewBag.Message</span>
}

<form asp-action="Create" asp-controller="Post" method="Post">
    <div class="form-group">
        <input asp-for="Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Content"/>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>

</form>
<partial name="_ValidationScriptsPartial"/>